*{
   font-family:'Roboto' , sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    flex-shrink: 1;
}

.links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.row-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 70px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.header-text {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
button {
    background-color: #3882f6;
    margin-top: 15px;
}
.large-image {
    height: 235px;
    width: auto;
    padding: 30px;
    padding-right: 0;
   
}

.greeting {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.inspire {
     font-size: 18px;
    color: #e5e7eb;
}

.container-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

.C2-text {
    font-size: 36px;
    font-weight: 900;
    padding: 70px;
}

.small-image {
    height: auto;
    width: 150px;;
    padding:0;
    
}
.image-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

.image-with-sub-text {
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    
   
}

