*{
    font-family:'Courier New', Courier, monospace;
}
.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    flex-wrap: wrap;
}

.links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.row-two {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
    padding: 30px;
}

.header-text {
    display: flex;
    flex-wrap: wrap;
    width: 175px;
    
}

img {
    height: 200px;
    width: auto;
}