*{
   font-family:'Roboto' , sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding-left: 100px;
    padding-right: 60px;
    flex-shrink: 1;
    
}

.links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.row-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 70px;
    padding-left: 100px;
    padding-right: 30px;
    
    
}

.header-text {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
button {
    background-color: #3882f6;
    padding: 6px;
    margin-top: 15px;
    border-radius: 7px;
    border-style: solid;
    border-color: #1f2937;
    color: #f9faf8
}
.large-image {
    height: 235px;
    width: auto;
    padding: 30px;
    padding-right: 30px;
    border-radius: 40px;
    
    
   
}

.greeting {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.inspire {
     font-size: 18px;
    color: #e5e7eb;
}

.container-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

.C2-text {
    font-size: 36px;
    font-weight: 900;
    padding: 70px;
}

.small-image {
    height: auto;
    width: 150px;;
    padding:0;
    border-radius: 5%;
    
}
.image-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    align-items: flex-start;
}

.image-with-sub-text {
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
    
   
}

.leg {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color:#e5e7eb;
    margin-top: 30px;
    padding: 100px;
}

.calve-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    margin: 100px;
    padding: 30px;
    border-radius: 7px;
}

.bottom-button{
    background-color: #3882f6;
    border-color: #F9FAF8;
    border-style: solid;
    margin-bottom: 14px;
    border-radius: 7px;
    color: #f9faf8

}

.bottom-text-bold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: #f9faf8;
}

footer {
    background-color: #1f2937;
    color:#F9FAF8;
}

.foot {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 200;
}

.bottom-text-small {
    font-size: 10px;
    font-weight: 300;
}

